# vim : sts=2 ts=2 sw=2 et ai
# DEFAULT VALUES
scripts:
  hostdir: /usr/scripts
  saldir: /scripts/hosts
  # for every that scripts will be created folder by their name in hostdor
  hosts:
    # list required directories from saldir
    - grains.host           
  # scripts that will be upload drectly to hostdir directory
  bare: barescripts
